{% extends "index.html" %}

{% block head %}
    {{ super() }}
    <title>Registration</title>
{% endblock head %}

{% block body %}
    <body class="login">
        <h1>Registration</h1>
        <form action="/registration" class="flexbox-container" method="post" enctype=multipart/form-data>
            <label for="username"><strong>Username:</strong></label>
            <input id= "username" name="username" class="input_class" type= "text" required>
            <label for="password" class="flexbox-label"><strong>Password:</strong></label>
            <input id="password" name="password" class="input_class" type= "password" required>
            <button type="submit" class="flexbox-btn" value=Upload>Sign up</button>
        </form>

    {% if error %}
        <p class="flash-message error"><strong>Error:</strong> {{ error }}</p>
    {% endif %}

    </body>
{% endblock body %}